
#hills{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 90vh;
  width: 90vw;
  background-image: url('https://i.pinimg.com/originals/8c/59/47/8c5947aca39131735798134c323ba1d4.jpg');
  background-size: contain;
  cursor: url("https://cdn.custom-cursor.com/db/pointer/pointer_1583.png"), auto;
}
#title{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.hill{
  width: 25%;
  margin: 1rem 1rem;
  height: 25%;
  background-image: url('https://i.ya-webdesign.com/images/wood-bullet-hole-png-5.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
 
}
.hill img{
 height: 80%;
 cursor: url("https://cdn.custom-cursor.com/db/cursor/pointer_3450.png"), auto; 
}
.timer{
  font-size: 34px;
  font-weight: bolder;
}
.red{
  color: red;
}
